# Old MinIO Configuration
OLD_ENDPOINT=http://old-minio:9000
OLD_REGION=us-east-1
OLD_ACCESS_KEY=minioadmin
OLD_SECRET_KEY=minioadmin

# New MinIO Configuration
NEW_ENDPOINT=http://new-minio:9000
NEW_REGION=us-east-1
NEW_ACCESS_KEY=minioadmin
NEW_SECRET_KEY=minioadmin
